<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <main>
        <div class="search">
            <form action="/find-stations" method="GET">
            <h2 class="find-station-title">Znajdź stację</h2>
            <input class="find-station" name="name" placeholder="Nazwa stacji" type="text">
            <button class="find-btn" type="submit">Szukaj</button>
            <p class="filters-title">Filtry</p>
            <input class="filter" placeholder="Miasto" name="city" type="text">
        </form>
        </div>

        <% if (results.length > 0) { %>
        <div class="results">
            <h2>Wyniki wyszukiwania</h2>
            <table class="results-table">
                <% for (let i=0; i<results.length; i++) { %>
                <tr>
                    <td class="results-cell">
                        <div class="results-name"><%= results[i].dataValues.name %></div>
                    </td>
                    <td class="results-cell">
                        <div class="results-adress"><%= results[i].dataValues.street  + ", " + results[i].dataValues.postalCode + " " + results[i].dataValues.city %></div>
                    </td>
                    <td class="results-cell">
                        <div class="results-fuel-type">
                        <div class="results-fuel-type-badge">PB95</div>
                        <%= prices[0][i] === undefined ? "N/A" : prices[0][i].dataValues.value + "zł/l" %>
                        </div>
                    </td>
                    <td class="results-cell">
                        <div class="results-fuel-type">
                        <div class="results-fuel-type-badge">PB98</div>
                        <%= prices[1][i] === undefined ? "N/A" : prices[1][i].dataValues.value + "zł/l" %>
                        </div>
                    </td>
                    <td class="results-cell">
                        <div class="results-fuel-type">
                        <div class="results-fuel-type-badge">ON</div>
                        <%= prices[2][i] === undefined ? "N/A" : prices[2][i].dataValues.value + "zł/l" %>
                        </div>
                    </td>
                    <td class="results-cell">
                        <div class="results-fuel-type">
                        <div class="results-fuel-type-badge">LPG</div>
                        <%= prices[3][i] === undefined ? "N/A" : prices[3][i].dataValues.value + "zł/l" %>
                        </div>
                    </td>
                    <td class="results-cell"><button onclick="location.href= '<%= '/station/' + results[i].dataValues.id %>'" class="results-btn">Odwiedź stację</button></td>
                </tr>
                <% } %>
            </table>
        </div>
        <% } %>

        <% if (recent.length > 0) { %>
            <div class="prices-container">
            <h1 class="last-title">Ostatnio dodane</h1>
            <% for (let entry of recent) {%>
                <div class="price-item">
                    <p class="type-tag"><%= entry.dataValues.fuelType %></p>
                    <div class="price-value"><%= entry.dataValues.value %>zł/l</div>
                    <div class="station-name"><%= entry.dataValues.stationName %></div>
                    <div class="station-adress"><%= entry.dataValues.stationStreet + ", " + entry.dataValues.stationPostalCode + " " + entry.dataValues.stationCity %></div>
                    <div class="user-info"><%= entry.dataValues.stationUser %></div>
                    <div class="time-info"><%= entry.dataValues.date %></div>
                    <button class="price-btn">Zaktualizuj cenę</button>
                    <button class="price-btn">Zgłoś nieprawidłowość</button>  
                    <button onclick="location.href= '<%= '/station/' + entry.dataValues.stationId %>'" type="button" class="price-btn">Odwiedź stację</button>  
                </div>
            <% } %>

                
            </div>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>