<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <main>
        
        <div class="auth-box">
            <% if (error) { %>
                <div class="error"><%= error %></div>
                <% } %>
            <form action="/user/login" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group">
                <label for="login">Nazwa użytkownika</label>
                <input type="text" class="main-input" name="login" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="main-input" name="password">
                </div>
                <button type="submit" class="main-btn">Zaloguj się</button>
            </form>
        </div>
    </main>
<%- include('includes/end.ejs') %>